/* dynamic scaling for pages 
html { box-sizing: border-box;}*, *:before, *:after{ box-sizing: inherit;}html, body { height: 100%;}
*/

*,
*::before,
*::after, {
    box-sizing: border-box;
}

body.home {
    margin: 0;
    position: relative;
}

body.home::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url('../assets/photos/stars2.jpg') center/cover no-repeat;
    opacity: 0;
    animation: fadeIn 5s forwards;
    z-index: -1;
}

/* style and animation for links */
a {
    color: rgb(241,195,147);
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0;
}

a:hover {
    color: rgb(117,84,55);
}

/* ids */
/* used for index.html banner links */
#banner_text {
    position: relative;
    font-size: 50px;
}

#moon_image {
    width: 30%;
    animation: fadeIn 7s;
}

/* classes for interactivity */
.hover-effect {
    color: white;
    transition: color 0.3s ease;
}

.hover-effect:hover{
    color: red;
}

/* animation for fading in image */
.fade_in {
    animation: fadeIn 7s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* main classes */
.header {
    text-align: center;
    font-size: 40px;
    color:white;
}
 
.body {
    text-align: left;
    color: azure;
    font-size: 25px;
}

.links {
    /*dark cyan*/
    color: rgb(0,139,139);
}

.photo {
    width: 400px;
    height: 500px;
}

/* containers */
.page_container {
    position: relative;
    width: min(100% - 2rem, 70rem);
    margin-inline: auto;
}

.container {
    display: flex;           /* Activates flexbox layout */
    width: fit-content;
    flex-direction: row;
    display: fit-content;
    margin: 0 auto;
}

.

.container2 {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.col_container {
  display: flex;           /* Activates flexbox layout */
  flex-direction: column;
  justify-content: center;
}   

.centered_container {
    display: grid;           /* Activates flexbox layout */
    align-items: center;
    justify-content: center;
    max-width: 100%;
}


/* used for pages that have photo has header/banner */
.photo_headers {
    width: 750px;
    height: 453px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quotations {
    font-family: Georgia;
    text-align: left;
    line-height: 40px; /*adds what appears as double spacing between lines*/
    margin: 20px;
}

/* for study.html */
/*
Source - https://stackoverflow.com/a/33964257
Posted by Josh Crozier
Retrieved 2025-11-26, License - CC BY-SA 3.0
*/
progress {
  text-align: center;
}
progress:after {
  content: attr(value)'%';
}
