/* dynamic scaling for pages 
html { box-sizing: border-box;}*, *:before, *:after{ box-sizing: inherit;}html, body { height: 100%;}
*/

*,
*::before,
*::after, {
    box-sizing: boder-box;
}

body {
    margin: 0;
}

/* ids */
/* used for index.html banner links */
#banner_text {
    position: relative;
    font-size: 50px;
}

/* classes for interactivity */
.hover-effect {
    color: white;
    transition: color 0.3s ease;
}

.hover-effect:hover{
    color: red;
}

.fade_in_image {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* main classes */
.header {
    text-align: center;
    font-size: 40px;
    color:white;
}
 
.body {
    text-align: left;
    color: azure;
    font-size: 25px;
}

.links {
    /*dark cyan*/
    color: rgb(0,139,139);
}

.photo {
    width: 400px;
    height: 500px;
}

/* containers */
.page_container {
    width: min(100% - 2rem, 70rem);
    margin-inline: auto;
}
.container {
    display: flex;           /* Activates flexbox layout */
    flex-direction: row;
    justify-content: center;
}

.container2 {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.col_container {
  display: flex;           /* Activates flexbox layout */
  flex-direction: column;
  gap: 40px;               /* Creates space between image and text */
  padding: 20px;
  max-width: 1440px;
  min-width: 300px;
}

.centered_container {
    display: grid;           /* Activates flexbox layout */
    align-items: center;
    justify-content: center;
    max-width: 1440px;
}


/* used for pages that have photo has header/banner */
.photo_headers {
    width: 750px;
    height: 453px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quotations {
    font-family: Georgia;
    text-align: left;
    line-height: 40px; /*adds what appears as double spacing between lines*/
    margin: 20px;
}

/* for study.html */
/*
Source - https://stackoverflow.com/a/33964257
Posted by Josh Crozier
Retrieved 2025-11-26, License - CC BY-SA 3.0
*/
progress {
  text-align: center;
}
progress:after {
  content: attr(value)'%';
}
